# Dependency directories
node_modules/

# Logs
logs
*.log
npm-debug.log*

.nyc
.env
.DS_Store
.gitattributes
.editorconfig

#yarn - https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn
